/docs
/node_modules
/postman
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.next
/scripts
/.DS_Store
/.git
/.gitignore
/.prettierrc
/.eslintrc.js
/.prettierignore
/.vscode
/.idea
/.history
/.idea
/.idea
